name: Run Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Runs every Monday at midnight UTC
  push:
    paths:
      - .github/renovate.json5
      - .github/workflows/renovate.yml

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Run Renovate
        uses: renovatebot/github-action@d65ef9e20512193cc070238b49c3873a361cd50c # v46.1.1
        with:
          token: ${{ secrets.RENOVATE_TOKEN  }}
          configurationFile: .github/renovate.json5
