name: Run Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Runs every Monday at midnight UTC
  push:
    paths:
      - .github/renovate.json5
      - .github/workflows/renovate.yml

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Run Renovate
        uses: renovatebot/github-action@c5fdc9f98fdf9e9bb16b5760f7e560256eb79326 # v44.0.2
        with:
          token: ${{ secrets.RENOVATE_TOKEN  }}
          configurationFile: .github/renovate.json5